<div *ngIf="songs && songs.length > 0" class="songs-container">
  <h2>Songs</h2>
  <mat-form-field class="example-full-width">
    <input type="text" matInput [formControl]="searchControl" placeholder="Search song" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let song of filteredSongs | async" [value]="song.title">
        {{ song.title }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <ul class="song-list">
    <li *ngFor="let song of filteredSongs | async" class="song-item">
      <h4>🎵{{ song.title }}</h4>
      <p>{{ song.length }}</p>
    </li>
  </ul>
</div>

<div *ngIf="songs && songs.length === 0" class="songs-container">
  <p>No songs found.</p>
</div>


